// Colors
$Pink: hsl(322, 100%, 66%);
$LightPink: hsl(321, 100%, 78%);
$LightRed: hsl(0, 100%, 63%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$VeryPaleBlue: hsl(207, 100%, 98%);


// Fonts 

$bodyFont: 'Open Sans', sans-serif;
$headingFont: 'Poppins', sans-serif;


// Breakpoints 

$sm: 576px;
$md: 768px;
$lg: 992px;
